<html>
<div class = "unit group" id = "skills">
  <h1 class = "title">能力自評 － <span class = "noLetterSpace">Skills</span></h1>
  <hr class = "line">
  <div class = "contentBar group">
    <div class = "barIcon floatLeft barIconColor-1">
      <img src = "assets/img/coding.jpg" alt="coding">
      <h4>技術能力</h4>
    </div>

    <div class = "barItemList barItemListColor-1">
      <div class = "barItem ">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "frontEndleft" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">60%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">網頁前端</h4>
          <hr>
          <div class = "meta">Html、CSS、Javascript(Angular真的難)</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "app" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">60%</div>

        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">應用程式</h4>
          <hr>
          <div class = "meta">Android Studio(部分後端)</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "dataScienceleft" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">50%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">資料科學</h4>
          <hr>
          <div class = "meta">Web Crawler、R</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "versionControlleft" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">80%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">版本控制</h4>
          <hr>
          <div class = "meta">Github、自定義網域</div>
        </div>
      </div>
    </div>
  </div>
  <div class = "contentBar group">
    <div class = "barIcon floatRight barIconColor-2">
      <img src = "assets/img/management.jpg" alt="management">
      <h4>管理能力</h4>
    </div>
    <div class = "barItemList floatRight barItemListColor-2">
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "software" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">90%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">軟體應用</h4>
          <hr>
          <div class = "meta">Word、PowerPoint、Drow.io</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "campaign" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">85%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">企業規劃</h4>
          <hr>
          <div class = "meta">撰寫企劃書、廠商簽約、活動執行、執行後檢討</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "management" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">80%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">領導團隊</h4>
          <hr>
          <div class = "meta">團隊溝通、向心力培養、制度建立、會議主持</div>
        </div>
      </div>
      <div class = "barItem">
        <div class="con">
          <div class="percent-circle percent-circle-left">
            <div id = "socialmedia" class="left-content"></div>
          </div>
          <div class="percent-circle percent-circle-right">
            <div class="right-content"></div>
          </div>
          <div class="text-circle">75%</div>
        </div>
        <div class = "barItemContext">
          <h4 class="barItemHeader">社群媒體</h4>
          <hr>
          <div class = "meta">社群小編、文案撰寫、簡易illustrator</div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
